Options -Indexes
##############################################
# Only *.png files can be accessed directly. #
# Access to any other files MUST be blocked  #
##############################################
Order Deny,Allow
Deny from all
<FilesMatch "\.png$">
 Allow from all
</FilesMatch>
