<?php
// NinjaFirewall optional configuration file:
// See: http://nintechnet.com/nfwp/1.1.3/

// Tell NinjaFirewall where you moved your WP config file:
$wp_config = '/foo/bar/wp-config.php';

// Users of Cloudflare:
if (! empty($_SERVER["HTTP_CF_CONNECTING_IP"]) ) {
	$_SERVER["REMOTE_ADDR"] = $_SERVER["HTTP_CF_CONNECTING_IP"];
}

// do not add anything below this line.